
*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
:root{
  --text-dark : #000000bf;
}